/* General colours */
:root {
  --bg-clr: #010e21;
  --white-clr: #ffff;
  --bg-mid: #052c659d;
  --bg-light: #095ddc;
  --bg-dark: #000b18;
}

@media screen and (max-width: 600px) {
  #home {
    height: 100vh;
    font-weight: 200;
    text-align: center;
  }
  .porfilePic {
    margin-top: 5rem;
    width: 13rem;
  }

  #home h3 {
    margin-top: 1.5rem;
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  #home .titleName {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
  }

  #home p {
    margin-top: 1rem;
    font-size: 0.9rem;
  }

  .skillBadge {
    background-color: var(--bg-clr);
    width: 100%;
    border-radius: 20px;
    transition: 1s;
  }

  .skillContainer h3 {
    font-size: 1rem;
    font-weight: 400;
  }

  .panel {
    visibility: hidden;
  }
}
