/* General colours */
:root {
    --bg-clr: #010e21;
    --white-clr: #ffff;
    --bg-mid: #052c659d;
    --bg-light: #095ddc;
    --bg-dark: #000b18;
}

/* general styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    overflow-x: hidden;
    background-color: var(--bg-clr);
    color: var(--white-clr);
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    width: 100%;
    background-color: #010e21c3;
    color: var(--white-clr);
    position: fixed;
    z-index: 2;
}

.offcanvas-NavBg {
    background-color: #010e21c3;
    color: var(--white-clr)
}

/* utility classes */

.pages {
    padding: 3rem;
}

.fancyTitle {
    font-weight: 500;
    font-style: normal;
    font-family: "Rubik Iso", system-ui;
}

.bg-box {
    border-radius: 10px;
    background-color: var(--bg-mid);
    padding: 1rem
}

.section-title {
    text-align: center;
    padding: 30px 0;
    position: relative
}

.section-title h1 {
    font-size: 3rem;
    color: #fff
}

.section-title h2 {
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: var(--bg-light);
    position: relative;
    z-index: 1;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title span {
    position: absolute;
    top: 30px;
    color: var(--bg-mid);
    left: 0;
    right: 0;
    z-index: 0;
    font-size: 52px;
    line-height: 0;
    font-weight: 700;
    text-transform: uppercase;
}

.section-title p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

/* for sliding div */
.samp {
    width: 100%;
    height: 30%
}

.front-slide {
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    position: absolute;
    z-index: 3;
}

.welcome {
    color: #32cd32;
    position: relative
}


/* For home page */
#home {
    background-image: url('assets/bgBanner-min.png');
    background-position: center;
    background-size: cover;
    height: fit-content;
    padding-top: 13rem;
    padding-bottom: 13rem;
}

.titleName {
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    font-family: Poppins, sans-serif;
}

.porfilePic {
    width: 20rem;
    border-radius: 10px
}

/* For about page */
#about-img img {
    width: 100%;
}

.terminal-view {
    border: solid;
    border-width: 4px;
    border-color: rgb(27, 27, 27);
    border-radius: 5px;
    background-color: rgb(36, 35, 35);
    height: fit-content;
}

.terminal-view h3 {
    color: #32cd32;
}

.terminal-view button {
    float: right;
    background-color: #32cd32;
    border-style: groove;
    border-width: 3px;
    border-color: gray;
}

.terminal-view img {
    width: 1rem;
    margin-right: 5px;
}

.terminal-control-area {
    width: 100%;
    background-color: rgb(27, 27, 27);
    padding: 0.5rem;
}


/* For resume page */
#resume {
    background-color: var(--bg-dark);
}

/* For Skill page */
.skillBadge {
    background-color: var(--bg-clr);
    width: 12rem;
    padding: 1rem;
    margin: .5rem;
    border-radius: 20px;
    transition: 1s
}

.skillBadge img {
    width: 1rem
}

.skillBadge:hover {
    background-color: var(--bg-light);
}

.skillContainer {
    padding-left: 0;
}


/* For achievements page */
.achievements {
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url(assets/doodleBanner-min.png);
}

/* For projects page */
#projects {
    background-image: url(assets/doodleBanner3-min.png);
    background-position: center;
    background-size: cover;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.frame {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    background-color: #149dddbb
}

.sub-title {
    color: #111;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--bg-clr);
    font-size: 2rem;
    font-family: Kanit, sans-serif
}

/* For footer */
footer {
    background-color: var(--bg-dark);
    height: fit-content;
}

footer img {
    width: 2rem;
}

footer .logo {
    background-color: #fff;
    border-radius: 10px;
}